:root{
    /*fonts*/
    --logo-font-family:'Raleway', sans-serif;
    --main-font-family: 'Roboto', sans-serif;

    /*colors*/
    --main-dark-color: #2F303A;
    --main-light-color:#E5E5E5;
    --background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --border-color:#ECECEC;
    --secondary-border-color: #EEEEEE;
    --main-font-collor: #212121;
    --secondary-font-collor: #757575;
    --current-color: #2196F3;
}

body {
    font-family: var(--main-font-family);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-font-collor)

}

/*Common Styles*/

.link {
    text-decoration: none;
    color: var(--main-font-collor);
}

.button {
    border: none;
    background-color: var(--secondary-background-color) ;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
}

.list {
    list-style: none;
}

.section {
    background-color: var(--background-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-font-collor);
}

/*Header*/
.header {
    background-color: var(--background-color);
    color: var(--main-font-collor);
}

span.current{
    color: var(--current-color);
}

.site-logo{
    font-family: var(--logo-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--main-font-collor);
}

.nav-link{
    font-weight: 500;
    line-height: 1.14;
}

.header-mail{
    font-weight: 500;
    line-height: 1.17px;
    color: var(--current-color);
}

.header-tel {
    font-weight: 500;
    line-height: 1.1px;
    color: var(--secondary-font-collor);
}

/*Hero*/
.hero{
    background-color: var(--main-dark-color);
}

.site-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);

}

.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--background-color);
    background-color: var(--current-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.our-advantages {

}

.advantage{
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-font-collor);
}

.advantage-description{
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-font-collor);
}